:root {
    --main-bg-color: #90EE90;
    --secondary-bg-color: #c3f0c3;
    --third-color: #68f0fc;
}

.location:nth-child(odd) {
    background-color: var(--main-bg-color);
}

.location:nth-child(even) {
    background-color: var(--secondary-bg-color);
}

.location {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    padding-bottom: 5%;
    
}

.description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 25px;
    gap: 5%;

}

.description img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
