  .App-map{
    background-color: #c3f0c3;
    height: 100vh;
  }


  .textCont{
    display: flex;
    flex-direction: row;
    padding: 1vw;
  }
  .texto{
    font-size: 2vw;
  }


  .contents-map{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }

  .buttoncontainer{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    
  }

  .button1, .button2, .button3, .button4{
    background-color: #90EE90;
  transition: transform .5s, box-shadow 1s ease-in;
  color: white;
  font-size: 2vw;
  padding: 1vh 1.1vw;
  border-radius: 2vw;
  margin: 0.5vw 0;
  cursor: pointer;
}
    

  .imgstyle{
    object-fit: cover;
    width: 45%;
    max-width: auto;
    max-height: auto;
    
    
  }