:root {
    --main-bg-color: #90EE90;
    --secondary-bg-color: #c3f0c3;
    --third-color: #2cd0e4;
}

.title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 23% 7%;
    font-size: 23px;
    letter-spacing: 2px;
    line-height: 1.8;
    text-align: center;
    background: url("../img/fortnite_background.png");
    background-attachment: fixed;
    font-weight: 700;
}

.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    padding-bottom: 80px;
}

.homepage button {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px var(--third-color);
    transition: transform .5s, box-shadow 1s ease-in;
    padding: 35%;
}


.grid-item {
    background-color: black;
    text-align: center;
    color: rgb(147, 50, 50);
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
    margin: 4% 15%;
    aspect-ratio: 5/3;
    border-radius: 20px;
    border: medium solid rgb(0, 65, 16);;
    background-size: 100%;
    transition: transform .5s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: none;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 50px 50px 80px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.8;
}

a {
    padding: 0px;
    text-decoration: underline;
    color: rgb(0, 46, 8);
}

a:hover {
    color: rgb(0, 0, 0);
}


.lodging, .attractions {
    background-color: var(--main-bg-color);
}

.restaurants, .map, .title {
    background-color: var(--secondary-bg-color);
}

.right {
    display: grid;
    margin: 5% 20%;
}

.lodging-button {
    background: url("../img/fortnite_house.jpeg") no-repeat center center;
    background-size: cover;
}

.restaurants-button {
    background: url("../img/tomatoeTown.webp") no-repeat center center;
    background-size: cover;
}

.attractions-button {
    background: url("../img/Flush_Factory_-_Location_-_Fortnite.webp") no-repeat center center;
    background-size: cover;
}

.map-button {
    background: url("../img/Season_1_Map.webp") no-repeat center center;
    background-size: cover;
}

