:root {
    --main-bg-color: #90EE90;
    --secondary-bg-color: #c3f0c3;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    margin: 0 50px 50px 80px;
    font-size: 23px;
    letter-spacing: 2px;
}

.lodging, .attractions {
    background-color: var(--main-bg-color);
}

.restaurants {
    background-color: var(--secondary-bg-color);
}

.right {
    display: grid;
    margin: 2% 20%;
}

.lodging-button {}
